{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<center>
    <div class = "container">
        <div class = "rowg-3">
            <div class = "col-md-4">
                <form action="" method="POST" class = "row g-3">
                    {% csrf_token %}
                    {{ form|crispy}}
                    <button type = "submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
</center>
{% endblock content %}
    